body{
	background-color: rgba(0, 0, 0, 0.5);
}

.box {
	border: 3px solid;
}

h1{
	
}

#name{
	color: lime;
	text-transform: uppercase;
}

#name2{
	color: lime;
}

#boxName{
	position: relative;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 2%;
}

#boxName:hover{
	color: yellow;
}

#boxHeader{
	position: relative;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
}

#boxHeader:hover{
	color: yellow;
}

#boxImg{
	position: relative;
	float: left;
	border-radius: 20%;
	margin-top: 2%;
}

#boxContent{
	position: relative;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 2%;
}

#boxContent:hover{
	color: yellow;
}

.container{
	
}

.wrapper{
	margin: 0 auto;
	width: 20%;
	
}

#textContent{
	color: black;
}

#textWelcome{
	color: lime;
}

.btn{
	margin-top: 4%;
	margin-left: 42%;
}